<article> 
<h1>If statements in C</h1>
<p>
	The ability to control the flow of your program, letting it make decisions on what code to execute, is valuable to the programmer. The <code>if</code> statement allows you to control if a program enters a section of code or not based on whether a given condition is true or false. One of the important functions of the<code> if</code> statement is that it allows the program to select an action based upon the user&#x27;s input. For example, by using an<code> if</code> statement to check a user-entered password, your program can decide whether a user is allowed access to the program. 
</p>
<p>
	Without a conditional statement such as the <code>if</code> statement, programs would run almost the exact same way every time, always following the same sequence of function calls. <code>if</code> statements allow the flow of the program to be changed, which leads to more interesting code. 
</p>
<p>
	Before discussing the actual structure of the if statement, let us examine the meaning of <strong>TRUE</strong> and <strong>FALSE</strong> in computer terminology. A <strong>true</strong> statement is one that evaluates to a nonzero number. A<strong> false</strong> statement evaluates to zero. When you perform comparison with the relational operators, the operator will return 1 if the comparison is<strong> true</strong>, or 0 if the comparison is <strong>false</strong>. For example, the check <code>0 == 2</code> evaluates to 0. The check <code>2 == 2</code> evaluates to a 1. If this confuses you, try to use a <code>printf</code> statement to output the result of those various comparisons for example:<pre><code class="language-c">printf ( &quot;%d&quot;, 2 == 1 );</code></pre>
</p>
<p>
	When programming, the aim of the program will often require the checking of one value stored by a variable against another value to determine whether one is larger, smaller, or equal to the other. 
</p>
<p>
	There are a number of operators that allow these checks. 

	Here are the relational operators, as they are known, along with examples:
<table >
	<tr>
		<td><code>&gt;</code></td>
		<td>     greater than  </td>
		<td>            <code>5 &gt; 4</code> is TRUE</td>
	<tr>
	<tr>
	<td><code>&lt;</code></td> 
	<td>     less than</td> 
	                <td><code>4 &lt; 5</code> is TRUE</td>
</tr>
<tr>
	<td><code>&gt;=</code> </td>   <td>greater than or equal</td>    <td><code> 4 &gt;= 4 </code> is TRUE</td>
</tr>

<tr>
	<td><code>&lt;=</code></td><td>    less than or equal</td>        <td><code>3 &lt;= 4</code> is TRUE</td>
</tr>

<tr>
	<td><code>==</code></td>    <td>equal to</td>                  <td><code>5 == 5</code> is TRUE</td>
</tr>

<tr>
	<td><code>!=</code></td>    <td>not equal to</td>              <td><code>5 != 4</code> is TRUE</td>
</tr>

</table>
</p>
<p>
	It is highly probable that you have seen these before, probably with slightly different symbols. They should not present any hindrance to understanding. Now that you understand TRUE and FALSE well as the comparison operators, let us look at the actual structure of if statements.
	
</p>

</article>