<article> 
<h1>Basic If Syntax</h1>
<p>
The structure of an if statement is as follows:


<pre><code class="language-c">if ( statement is TRUE )
    Execute this line of code</code></pre>

Here is a simple example that shows the syntax:

<pre><code class="language-c">if ( 5 &lt; 10 )
    printf( &quot;Five is now less than ten, that&#x27;s a big surprise&quot; );</code></pre>
</p>
<p>
Here, we&#x27;re just evaluating the statement, &quot;is five less than ten&quot;, to see if it is true or not; with any luck, it is! If you want, you can write your own full program including <code>stdio.h</code> and put this in the <code>main</code> function and run it to test. 
</p>
<p>
To have more than one statement execute after an <code>if</code> statement that evaluates to true, use braces, like we did with the body of the<code> main</code> function.Anything inside braces is called a compound statement, or a block. When using <code>if</code> statements, the code that depends on the <code>if</code> statement is called the &quot;body&quot; of the<code> if</code> statement. 

For example:
<pre><code class="language-c">if ( TRUE ) {
    /* between the braces is the body of the if statement */
    Execute all statements inside the body
}</code></pre>
</p>
<p>
I recommend always putting braces following <code>if</code> statements. If you do this, you never have to remember to put them in when you want more than one statement to be executed, and you make the body of the<code> if</code> statement more visually clear. 
</p>

<h2>Else</h2>
<p>
Sometimes when the condition in an<code> if</code> statement evaluates to false, it would be nice to execute some code instead of the code executed when the statement evaluates to true. The <code>else</code> statement effectively says that whatever code after it (whether a single line or code between brackets) is executed if the if statement is FALSE. 

It can look like this:

<pre><code class="language-c">if ( TRUE ) {
    /* Execute these statements if TRUE */
}
else {
    /* Execute these statements if FALSE */
}</code></pre>

</p>

</article>