<article> 
<h1>Else if</h1>
<p>
	
	Another use of <code>else</code> is when there are multiple conditional statements that may all evaluate to true, yet you want only one<code> if</code> statement&#x27;s body to execute. You can use an <code>else if </code>statement following an <code>if</code> statement and its body; that way, if the first statement is true, the <code>else if</code> will be ignored, but if the <code>if</code> statement is false, it will then check the condition for the <code>else if</code> statement. If the <code>if</code> statement was true the else statement will not be checked. It is possible to use numerous<code> else if</code> statements to ensure that only one block of code is executed. 
</p>
<p>
	Let&#x27;s look at a simple program for you to try out on your own.

	<pre><code class="language-c">#include &lt;stdio.h&gt;	

	int main()                            /* Most important part of the program!  */
	{
	    int age;                          /* Need a variable... */
  
	    printf( &quot;Please enter your age&quot; );  /* Asks for age */
	    scanf( &quot;%d&quot;, &amp;age );                 /* The input is put in age */
	    if ( age &lt; 100 ) {                  /* If the age is less than 100 */
	        printf (&quot;You are pretty young!\n&quot; ); /* Just to show you it works... */
	    }
	    else if ( age == 100 ) {            /* I use else just to show an example */ 
	        printf( &quot;You are old\n&quot; );       
	    }
	    else {
	        printf( &quot;You are really old\n&quot; );     /* Executed if no other statement is */
	    }
	  return 0;
	}</code></pre>
	
</p>

</article>