<article> 
<h1>More interesting conditions using boolean operators</h1>
<p>
	Boolean operators allow you to create more complex conditional statements. For example, if you wish to check if a variable is both greater than five and less than ten, you could use the Boolean <strong>AND</strong> to ensure both var <code>&gt;</code> 5 and var <code>&lt;</code> 10 are true.</p> 

<h4>Notice (Very important)</h2>
<p>
In the following discussion of Boolean operators, I will capitalize the Boolean operators in order to distinguish them from normal English. The actual C operators of equivalent function will be described further along into the tutorial - the C symbols are not: <strong>OR</strong>, <strong>AND</strong>, <strong>NOT</strong>, although they are of equivalent function. 
</p>
<p>
	When using <code>if</code> statements, you will often wish to check multiple different conditions. You must understand the Boolean operators <strong>OR</strong>, <strong>NOT</strong>, and <strong>AND</strong>. The boolean operators function in a similar way to the comparison operators: each returns 0 if evaluates to FALSE or 1 if it evaluates to TRUE. 
</p>
<p>
	<strong>NOT</strong>: The <strong>NOT</strong> operator accepts one input. If that input is TRUE, it returns FALSE, and if that input is FALSE, it returns TRUE. For example, <code> <strong>NOT</strong> (1) </code> evaluates to 0, and <code><strong>NOT</strong> (0) </code> evaluates to 1. <code><strong>NOT</strong> (any number but zero)</code> evaluates to 0. In C <strong>NOT</strong> is written as <code>!</code>. <strong>NOT</strong> is evaluated <mark>prior</mark> to both <strong>AND</strong> and <strong>OR</strong>. 
</p>
<p>	<strong>AND</strong>: This is another important command. <strong>AND</strong> returns TRUE if both inputs are TRUE <code>if &#x27;this&#x27; <strong>AND</strong> &#x27;that&#x27; are true</code>. <code>(1) <strong>AND</strong> (0) </code>would evaluate to zero because one of the inputs is false (both must be TRUE for it to evaluate to TRUE). <code>(1) <strong>AND</strong> (1) </code> evaluates to 1. (any number but 0)<code> <strong>AND</strong> (0) </code>evaluates to 0. The <strong>AND</strong> operator is written <code>&amp;&amp;</code> in C. Do not be confused by thinking it checks equality between numbers: it does not. Keep in mind that the <strong>AND</strong> operator is<mark> evaluated before </mark>the <strong>OR</strong> operator. 
</p>
<p>	<strong>OR</strong>: Very useful is the <strong>OR</strong> statement! If either (or both) of the two values it checks are TRUE then it returns TRUE. For example, 
	<code>(1) <strong>OR</strong> (0)</code> evaluates to 1. <code>(0) <strong>OR</strong> (0) </code>evaluates to 0. The <strong>OR</strong> is written as <code>||</code> in C. Those are the pipe characters. On your keyboard, they may look like a stretched colon. On my computer the pipe shares its key with \. Keep in mind that <strong>OR</strong> will be <mark>evaluated after</mark> <strong>AND</strong>. 
</p>
<p>
	It is possible to combine several Boolean operators in a single statement; often you will find doing so to be of great value when creating complex expressions for <code>if</code> statements. What is <code>!(1 &amp;&amp; 0)</code>? Of course, it would be TRUE. It is true is because <code>1 &amp;&amp; 0</code> evaluates to 0 and<code> !0</code> evaluates to TRUE (i.e., 1). 
</p>
<p>
	Try some of these - they&#x27;re not too hard.
</p>

</article>