

.comiler-errors {
    background-color: #000000;
    color: white;
}

.c-error {
}

.errorHighlight{
    position:absolute;
    z-index:20;
    background-color:#a94442;
}


#mini-pro , #lg-pro{
    background-color: #f5f5f5 ;
}