<article> 
	
	<h1>
		Intro to C 
	</h1>
	
	<p>Every full C program begins inside a function called <code>main</code>. A function is simply a collection of commands that do "something". The main function is always called when the program first executes. From<code> main </code>, we can call other functions, whether they be written by us or by others or use built-in language features.</p>
	
	<p> To access the standard functions that comes with your compiler, you need to include a header with the <code>#include</code> directive. What this does is effectively take everything in the header and paste it into your program.</p> 
	<p> Let's look at a working program:


			<pre><code class="language-c">            #include &lt;stdio.h&gt;
			int main()
			{
			    printf( &quot;I am alive!  Beware\n&quot; );
			    getchar();
			    return 0;
			}</code></pre>


	</p>
	
	<p>
		Let's look at the elements of the program. The <code>#include</code> is a "preprocessor" directive that tells the compiler to put code from the header called <code>stdio.h</code> into our program before actually creating the executable. By including header files, you can gain access to many different functions--both the <code>printf</code> and <code>getchar</code> functions are included in <code>stdio.h</code>.</p>
		 
<p>
		The next important line is <code>int main()</code>. This line tells the compiler that there is a function named <code>main</code>, and that the function returns an integer, hence <code>int</code>. The "curly braces" (<code>{</code> and <code>}</code>) signal the beginning and end of functions and other code blocks. If you have programmed in Pascal, you will know them as<code>BEGIN</code> and <code>END</code>. Even if you haven't programmed in Pascal, this is a good way to think about their meaning. 
</p>
<p>
		The <code>printf</code> function is the standard C way of displaying output on the screen. The quotes tell the compiler that you want to output the literal string as-is (almost). The <code>'\n'</code> sequence is actually treated as a single character that stands for a newline (we'll talk about this later in more detail); for the time being, just remember that there are a few sequences that, when they appear in a string literal, are actually not displayed literally by <code>printf</code> and that <code>'\n'</code> is one of them. The actual effect of <code>'\n'</code> is to move the cursor on your screen to the next line.<strong> Notice the semicolon:</strong> it tells the compiler that you're at the end of a command, such as a function call. You will see that the semicolon is used to end many lines in C. 
	</p>
<p>
		The next command is <code>getchar()</code>. This is another function call: it reads in a single character and waits for the user to hit enter before reading the character. This line is included because many compiler environments will open a new console window, run the program, and then close the window before you can see the output. This command keeps that window from closing because the program is not done yet because it waits for you to hit enter. Including that line gives you time to see the program run. 
</p>
<p>
		Finally, at the end of the program, we <code> return </code> a value from <code>main </code> to the operating system by using the <code>return</code> statement. This return value is important as it can be used to tell the operating system whether our program succeeded or not. A return value of 0 means success. 
</p>
<p>
		You might start playing around with the <code>printf </code>function and get used to writing simple C programs.
		
	</p>
	
	
</article>