 <article>
<h1>Explaining your Code</h1>
<p>
	Comments are critical for all but the most trivial programs and this tutorial will often use them to explain sections of code. When you tell the compiler a section of text is a comment, it will ignore it when running the code, allowing you to use any text you want to describe the real code. To create a comment in C, you surround the text with <code>/*</code> and then <code>*/</code>to block off everything between as a comment. Certain compiler environments or text editors will change the color of a commented area to make it easier to spot, but some will not. Be certain not to accidentally comment out code (that is, to tell the compiler part of your code is a comment) you need for the program.
</p>
<p>
	When you are learning to program, it is also useful to comment out sections of code in order to see how the output is affected.
</p>

</article>