<article> 
<h1>Using Variables</h1>
<p>
So far you should be able to write a simple program to display information typed in by you, the programmer and to describe your program with comments. That's great, but what about interacting with your user? Fortunately, it is also possible for your program to accept input. 
</p>

<p>
But first, before you try to receive input, you must have a place to store that input. In programming, input and data are stored in <strong>variables</strong>. There are several different types of variables; when you tell the compiler you are declaring a variable, you must include the data type along with the name of the variable. Several basic types include <code>char</code>, <code>int</code>, and <code>float</code>. Each type can store different types of data. 
</p>
<p>
A variable of type <code>char</code> stores a single character, variables of type <code>int</code> store integers (numbers without decimal places), and variables of type <code>float</code> store numbers with decimal places. Each of these variable types - <code>char</code>, <code>int</code>, and <code>float</code> - is each a keyword that you use when you declare a variable. Some variables also use more of the computer's memory to store their values. 
</p>
<p>
It may seem strange to have multiple variable types when it seems like some variable types are redundant. But using the right variable size can be important for making your program efficient because some variables require more memory than others. For now, suffice it to say that the different variable types will almost all be used! 
</p>
<p>
Before you can use a variable, you must tell the compiler about it by declaring it and telling the compiler about what its &quot;type&quot; is. To declare a variable you use the syntax <mark>&lt;variable type&gt; &lt;name of variable&gt;;</mark>. (The brackets here indicate that your replace the expression with text described within the brackets.) For instance, a basic variable declaration might look like this:
<pre><code class="language-c">int myVariable;</code></pre>
</p>
<p>
Note once again the use of a <strong>semicolon</strong> at the end of the line. Even though we're not calling a function, a semicolon is still required at the end of the &quot;expression&quot;. This code would create a variable called myVariable; now we are free to use myVariable later in the program. 
</p>
<p>
It is permissible to declare multiple variables of the same type on the same line; each one should be separated by a comma. If you attempt to use an undefined variable, your program will not run, and you will receive an error message informing you that you have made a mistake. 

Here are some variable declaration examples:
<pre><code class="language-c">int x;
int a, b, c, d;
char letter;
float the_float;</code></pre>
</p>

</article>