<article> 
<h1>Reading input</h1>
<p>
Using variables in C for input or output can be a bit of a hassle at first, but bear with it and it will make sense. We'll be using the <code>scanf</code> function to read in a value and then <code>printf</code> to read it back out. Let's look at the program and then pick apart exactly what's going on. You can even compile this and run it if it helps you follow along.

<pre><code class="language-c">#include &lt;stdio.h&gt;

int main()
{
    int this_is_a_number;

    printf( &quot;Please enter a number: &quot; );
    scanf( &quot;%d&quot;, &amp;this_is_a_number );
    printf( &quot;You entered %d&quot;, this_is_a_number );
    getchar();
    return 0;
}</code></pre>
</p>
<p>
So what does all of this mean? We've seen the <code>#include</code> and <code>main</code> function before; <code>main</code> must appear in every program you intend to run, and the <code>#include</code> gives us access to <code>printf</code> (as well as <code>scanf</code>). (As you might have guessed, the io in <code>stdio.h</code> stands for &quot;input/output&quot;; std just stands for &quot;standard.&quot;) The keyword int declares this_is_a_number to be an integer. 
</p>
<p>
This is where things start to get interesting: the <code>scanf</code> function works by taking a string and some variables modified with <code>&amp;</code>. The string tells <code>scanf</code> what variables to look for: notice that we have a string containing only <code>&quot;%d&quot;</code> -- this tells the <code>scanf</code> function to read in an integer. The second argument of <code>scanf</code> is the variable, sort of. We&#x27;ll learn more about what is going on later, but the gist of it is that <code>scanf</code> needs to know where the variable is stored in order to change its value. Using <code>&amp;</code> in front of a variable allows you to get its location and give that to <code>scanf</code> instead of the value of the variable. Think of it like giving someone directions to the soda aisle and letting them go get a coca-cola instead of fetching the coke for that person. The <code>&amp;</code> gives the <code>scanf</code> function directions to the variable. 
</p>
<p>
When the program runs, each call to<code> scanf</code> checks its own input string to see what kinds of input to expect, and then stores the value input into the variable. </p>
<p>
The second <code>printf</code> statement also contains the same <code>&#x27;%d&#x27;</code>--both <code>scanf</code> and <code>printf</code> use the same format for indicating values embedded in strings. In this case, <code>printf</code> takes the first argument after the string, the variable this_is_a_number, and treats it as though it were of the type specified by the &quot;format specifier&quot;. In this case, <code>printf</code> treats this_is_a_number as an integer based on the format specifier. 
</p>
<p>
So what does it mean to treat a number as an integer? If the user attempts to type in a decimal number, it will be truncated (that is, the decimal component of the number will be ignored) when stored in the variable. Try typing in a sequence of characters or a decimal number when you run the example program; the response will vary from input to input, but in no case is it particularly pretty. 

</p>

</article>