<article> 
<h1>Variable Modification</h1>
<p>
Of course, no matter what type you use, variables are uninteresting without the ability to modify them. Several operators used with variables include the following: <code>*</code>, <code>-</code>, <code>+</code>, <code>/</code>, <code>=</code>,<code> ==</code>, <code>&gt;</code>, <code>&lt;</code>. The<code> *</code> multiplies, the <code>/</code> divides, the <code>-</code> subtracts, and the <code>+</code> adds. It is of course important to realize that to modify the value of a variable inside the program it is rather important to use the equal sign. In some languages, the equal sign compares the value of the left and right values, but in C <code>==</code> is used for that task. The equal sign is still extremely useful. It sets the value of the variable on the left side of the equals sign equal to the value on the right side of the equals sign. The operators that perform mathematical functions should be used on the right side of an equal sign in order to assign the result to a variable on the left side. 
</p>
<p>
Here are a few examples:

<pre><code class="language-c">a = 4 * 6; /* (Note use of comments and of semicolon) a is 24 */
a = a + 5; /* a equals the original value of a with five added to it */
a == 5     /* Does NOT assign five to a. Rather, it checks to see if a equals 5.*/</code></pre>
<p>The other form of equal,<code> ==</code>, is not a way to assign a value to a variable. Rather, it checks to see if the variables are equal. It is extremely useful in many areas of C; for example, you will often use <code>==</code> in such constructions as conditional statements and loops. You can probably guess how <code>&lt;</code> and <code>&gt;</code> function. They are greater than and less than operators. 
</p>
<p>
For example:
<pre><code class="language-c">a &lt; 5  /* Checks to see if a is less than five */
a &gt; 5  /* Checks to see if a is greater than five */ 
a == 5 /* Checks to see if a equals five, for good measure */</code></pre> 
</p>

</article>