<article>
	<h1>Loops</h1>
	<p>
		Loops are used to repeat a block of code. Being able to have your program repeatedly execute a block of code is one of the most basic but useful tasks in programming -- many programs or websites that produce extremely complex output (such as a message board) are really only executing a single task many times.
		 (They may be executing a small number of tasks, but in principle, to produce a list of messages only requires repeating the operation of reading in some data and displaying it.) Now, think about what this means: a loop lets you write a very simple statement to produce a significantly greater result simply by repetition.
	</p>
	
	<p>
		One Warning: before going further, you should understand the concept of C's <code>true</code> and <code>false</code>, because it will be necessary when working with loops (the conditions are the same as with if statements). This concept is covered in the previous tutorial. There are three types of loops: <code>for</code>, <code>while</code>, and <code>do..while</code>. Each of them has their specific uses. They are all outlined below. 
		
	</p>
	
</article>