<article>
	<h1>For Loop</h1>
	<p>
		FOR - <code>for</code> loops are the most useful type. The syntax for a <code>for</code> loop is
	
	</p>
	<pre><code class="language-c">
		for ( variable initialization; condition; variable update ) {
		  Code to execute while the condition is true
		}
	</code></pre>


	
	<p>
		The <mark>variable initialization</mark> allows you to either declare a variable and give it a value or give a value to an already existing variable. Second, <mark>the condition</mark> tells the program that while the conditional expression is <code>true</code> the loop should continue to repeat itself. <mark>The variable update section</mark> is the easiest way for a for loop to handle changing of the variable. It is possible to do things like<code> x++</code>,<code> x = x + 10</code>, or even<code> x = random ( 5 )</code>, and if you really wanted to, you could call other functions that do nothing to the variable but still have a useful effect on the code. <mark>Notice that a semicolon separates each of these sections</mark>, that is important. Also note that every single one of the sections may be empty, though the semicolons still have to be there. If the condition is empty, it is evaluated as true and the loop will repeat until something else stops it.

    </p>

	<pre><code class="language-c">
		#include &lt;stdio.h&gt;

		int main()
		{
		    int x;
		    /* The loop goes while x &lt; 10, and x increases by one every loop*/
		    for ( x = 0; x &lt; 10; x++ ) {
		        /* Keep in mind that the loop condition checks 
		           the conditional statement before it loops again.
		           consequently, when x equals 10 the loop breaks.
		           x is updated before the condition is checked. */   
		        printf( &quot;%d\n&quot;, x );
		    }
		}
	</code></pre>
    <p>
		This program is a very simple example of a <code>for</code> loop. x is set to zero, while x is less than 10 it calls printf to display the value of the variable x, and it adds 1 to x until the condition is met. Keep in mind also that the variable is incremented after the code in the loop is run for the first time. 
</p>
	
</article>