<article>
	<h1>While Loop</h1>
	<p>
		<p>
		WHILE - <code>while</code> loops are very simple. The basic structure is 
	</p>
		<pre><code class="language-c">while ( condition ) { Code to execute while the condition is true }</code></pre>
    <p>
		The <code>true</code> represents a boolean expression which could be<code>x == 1</code> or 
		<code>while ( x != 7 )</code> (x does not equal 7). It can be any combination of boolean statements that are legal. Even, (<code>while (x ==5 || v == 7)</code>) which says execute the code while x equals five or while v equals 7. Notice that a while loop is like a stripped-down version of a for loop-- it has no initialization or update section. However, an empty condition is not legal for a while loop as it is with a for loop.
	</p>
	<p>
		Example:</p>
		<pre><code class="language-c">
			#include &lt;stdio.h&gt;

			int main()
			{ 
			  int x = 0;  /* Don&#x27;t forget to declare variables */
  
			  while ( x &lt; 10 ) { /* While x is less than 10 */
			      printf( &quot;%d\n&quot;, x );
			      x++;             /* Update x so the condition can be met eventually */
			  }
			}
		</code></pre>
    <p>
		This was another simple example, but it is longer than the previous <code>for</code> loop. The easiest way to think of the loop is that when it reaches the brace at the end it jumps back up to the beginning of the loop, which checks the condition again and decides whether to repeat the block another time, or stop and move to the next statement after the block. 
	</p>
	
	
</article>