<article>
	<h1>Do .. While Loop</h1>

		<pre><code class="language-c">
			do {
				// code here 
			} while ( condition );
		</code></pre>
	<p>
    Notice that the condition is tested at the end of the block instead of the beginning, so <mark>the block will be executed at least once</mark>. If the condition is <code>true</code>, we jump back to the beginning of the block and execute it again. <mark>A <code>do..while</code> loop is almost the same as a <code>while</code> loop except that the loop body is guaranteed to execute at least once.</mark> A <code>while</code> loop says &quot;Loop while the condition is <code>true</code>, and execute this block of code&quot;, a <code>do..while</code> loop says &quot;Execute this block of code, and then continue to loop while the condition is <code>true</code>&quot;.

	</p>


		<pre><code class="language-c">
			#include &lt;stdio.h&gt;

			int main()
			{
			  int x;

			  x = 0;
			  do {
			    /* &quot;Hello, world!&quot; is printed at least one time
			      even though the condition is false */
			      printf( &quot;Hello, world!\n&quot; );
			  } while ( x != 0 );
			}
		</code></pre>
    <p>
		Keep in mind that you <mark>must include a trailing semi-colon after the while</mark> in the above example. A common error is to forget that a <code>do..while</code> loop must be terminated with a semicolon (the other loops should not be terminated with a semicolon, adding to the confusion). Notice that this loop will execute once, because it automatically executes before checking the condition.
		
	</p>
	
	
</article>