<article>
	<h1>Break and Continue</h1>
	<p>
		Two keywords that are very important to looping are <code>break</code>and <code>continue</code>. The <code>break</code> command will exit the most immediately surrounding loop regardless of what the conditions of the loop are. Break is useful if we want to exit a loop under special circumstances. For example, let's say the program we're working on is a two-person checkers game. The basic structure of the program might look like this:
    </p>
		<pre><code class="language-c">
			while (true) 
			{
			    take_turn(player1);
			    take_turn(player2);
			}
		</code></pre>
    <p>
		This will make the game alternate between having player 1 and player 2 take turns. The only problem with this logic is that there's no way to exit the game; the loop will run forever! Let's try something like this instead:
    </p>
		<pre><code class="language-c">
			while(true)
			{
			    if (someone_has_won() || someone_wants_to_quit() == TRUE)
			    {break;}
			    take_turn(player1);
			    if (someone_has_won() || someone_wants_to_quit() == TRUE)
			    {break;}
			    take_turn(player2);
			}
		</code></pre>
		<p>
		This code accomplishes what we want--the primary loop of the game will continue under normal circumstances, but under a special condition (winning or exiting) the flow will stop and our program will do something else.
		<code>continue</code> is another keyword that controls the flow of loops. If you are executing a loop and hit a <code>continue</code> statement, the loop will stop its current iteration, update itself (in the case of for loops) and begin to execute again from the top. Essentially, the continue statement is saying &quot;this iteration of the loop is done, let&#x27;s <code>continue</code> with the loop without executing whatever code comes after me.&quot; Let&#x27;s say we&#x27;re implementing a game of Monopoly. Like above, we want to use a loop to control whose turn it is, but controlling turns is a bit more complicated in Monopoly than in checkers. The basic structure of our code might then look something like this:
    </p>
		<pre><code class="language-c">
			for (player = 1; someone_has_won == FALSE; player++)
			    {
			        if (player &gt; total_number_of_players)
			        {player = 1;}
			        if (is_bankrupt(player))
			        {continue;}
			        take_turn(player);
			    }
		</code></pre>
    <p>
		This way, if one player can't take her turn, the game doesn't stop for everybody; we just skip her and keep going with the next player's turn. 
	</p>
	
	
</article>